<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="content">
    你的名字：
    <form action="/pinglun" method="get">
      <div>
        <input name="name" type="text">
      </div>
      您的评论：
      <p>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
      </p>
      <!-- <div class="post">发表</div> -->
      <button type="submit">发表</button>
    </form>
  </div>
</body>
</html>